html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

#instructions {
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  height: 70px;
  width: 200px;
  margin-top: -35px;
  margin-left: -100px;
  position: absolute;
  font-size: 24px;
  font-family: monospace;
  color: white;
  text-align: center;
  pointer-events: none;
}
#instructions button {
  font-size: 24px;
  pointer-events: auto;
}

.show {
  transition: opacity 1s linear;
  opacity: 1;
}
.hide {
  transition: opacity 1s linear;
  opacity: 0;
}

#info {
  position: absolute;
  top: 60px;
  left: 10px;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 32px;
  pointer-events: none;
}

/* for annotations */

#info {
  position: absolute;
  top: 10px;
  right: 295px;
  text-align: right;
  background: #181c20;
  color: #8c92a4;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 17px;
  pointer-events: none;
  font-family: var(--leva-fonts-mono);
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: #181c20;
}
